extends layout.pug

block content 
  article.grid-container.portfolio-intro
    div

      h1 Portfolio.kalen 

      p.lead.text-light
        | This is just a small sampling of projects I have completed while at Treehouse. This project, as well as the projects showcased here, are examples of the technologies and skills I have mastered. While some are outwardly whimsical, my hope is that the viewer is able to see the skills being presented. 
  article.grid-container.portfolio-index
    
    .grid-x.grid-margin-x.small-up-2.medium-up-2.large-up-3

      each project in projects
        .cell.box.text-center
          a(href=`/projects/${project.id}`)
            img.thumbnail(src=`${project.image_urls[0]}`)
            h5 #{project.project_name}
      
