/* allow for some themeing */
/* use css vars we can more easily manage our color palette, as well as set some of the values via JavaScript */
:root {
  --color-bg-accent: #0c120c;
  --color-bg-accent-other: #001021;
  --color-bg-body: #ecebf3;
  --color-light-text: #c7d6d5;
  --color-dark-text: #6d7275;
  --color-alt: #c20114;
  --color-neutral: #445069;
  --color-neutral-light: #D2D2D2;
  --font: 'Special Elite', cursive;
  --font-other: 'Merriweather', serif;
}


/* commented out css is the original css */
h1,h2,h3,h4,h5,p{
  /* font-family: 'Merriweather', serif; */
  font-family: var(--font)
}

  h5{
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    letter-spacing: 2.5px;
    -webkit-text-transform: uppercase;
    text-transform: uppercase;
  }

  h6{
    letter-spacing: 2.5px;
    -webkit-text-transform: uppercase;
    text-transform: uppercase;
    font-weight: 600;
  }

  p{
    font-size: 15px;
    /* color: #666; */
    color: var(--color-dark-text);
    font-weight: bolder;
  }

.round{
  border-radius: 5px;
}

.text-light{
  /* color: #666; */
  color: var(--color-dark-text);
}

.button{
  /* background-color: #333; */
  background-color: var(--color-bg-accent);
  color: var(--color-light-text);
}

.button:hover{
  /* background-color: #111; */
  background-color: var(--color-bg-accent-other);
  color: var(--color-dark-text)
}

a{
  /* color: #333; */
  color: var(--color-dark-text);
}

a:hover{
  /* color: #111; */
  color: var(--color-alt);
}

.image{
  display: inline-block;
  max-width: 100%;
  margin-bottom: 1rem;
  border: solid 4px #fefefe;
  border-radius: 0;
  box-shadow: 0 0 0 1px rgba(10, 10, 10, 0.2);
  line-height: 0;
}

.image:hover{
  box-shadow: 5px 5px 5px 1px var(--color-light-text);
}

.portfolio-me{
  padding: 20px;
  /* background: #121213; */
  background: var(--color-bg-accent);
  /* color: #fff; */
  color: var(--color-alt);
  box-shadow: none !important;
}

  .portfolio-me p{
    font-size: 14px;
    /* color: #999; */
    /* color: var(--color-light-text); */
  }

  .portfolio-me a{
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 600;
    /* color: #555; */
    /* color: var(--color-light-text); */
    font-size: 13px;
    letter-spacing: 2.5px;
    -webkit-text-transform: uppercase;
    text-transform: uppercase;
  }

  .portfolio-me a:hover{
    /* color: #999; */
    color: var(--color-alt);
  }

.portfolio-breadcrumb{
  margin: 0;
  padding: 20px;
  border-bottom: 1px solid #eaeaea;
}

 .portfolio-breadcrumb a{
   font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
   font-weight: 600;
   font-size: 13px;
   letter-spacing: 2.5px;
   -webkit-text-transform: uppercase;
   text-transform: uppercase;
 }

.portfolio-intro{
  color: var(--color-alt);
  margin: 0;
  padding: 40px 50px 30px;
}

.portfolio-intro p{
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 40px;
}

.portfolio-index{
  margin: 0;
  padding: 10px 50px;
}

  .portfolio-index .thumbnail{
    margin-bottom: 5px;
  }

  .portfolio-index .thumbnail:hover{
    box-shadow: 5px 5px 5px var(--color-light-text);
    transform: translate(-2px, -2px);
  }

  .portfolio-index a{
    color: #222;
  }

  .portfolio-index .cell{
    margin-bottom: 15px;
  }

    .portfolio-index .cell h5{
      letter-spacing: 1px;
    }

.portfolio-meta{
  padding-left: 20px;
}

  .portfolio-meta .button{
    margin-bottom: 5px;
  }

.portfolio-project p{
  border: none;
}

.portfolio-project li{
  font-size: 13px;
  /* color: #444; */
  color: var(--color-dark-text)
}

.portfolio-bio{
    line-height: 25px;
}

/*
Styles add to template
*/
.box:hover{
  border-radius: 5px;
  transition: 1s ease-in-out;
}

body{
  background: var(--color-bg-body);
}

.float-right#next{
  padding: 0 0 0 5px;
  width: 6em;
}

.float-right#next::after{
  content: '.';
  visibility: hidden;
}

/* The toggle switch was largely inspired by https://www.w3schools.com/howto/howto_css_switch.asp */
.toggleDesc {
  font-family: var(--font-other);
}
.toggled {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.toggled input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.toggleSlider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.toggleSlider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 4px;
  bottom: 3px;
  background-color: var(--color-bg-accent);
  -webkit-transition: .2s;
  transition: .2s;
}

input:checked + .toggleSlider {
  background-color:var(--color-neutral);
}

input:focus + .toggleSlider {
  box-shadow: 0 0 1px var(--color-neutral-light);
}

input:checked + .toggleSlider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}

.toggleSlider.round {
  border-radius: 20px;
}

.toggleSlider.round:before {
  border-radius: 50%;
}